<div class="settings-container relative">
    <!-- simulated brightness overlay -- FOR TESTING PURPOSES -->
    <!-- <div class = "brightness-slider">
        <div class="brightness-overlay" [style.backgroundColor]="'rgba(0, 0, 0, ' + (1 - brightnessValue/100) + ')'"></div> -->
        <!-- <h2>LED Brightness</h2> 
            <input type="range" min="0" max="100" [value]="brightnessValue" (input)="updateBrightness($event)">
            <p>Current brightness: {{brightnessValue}}%</p>
    </div> -->

    <div class = "led-slider">
        <h2>LED Brightness</h2> <!--brightness section-->
        <input type="range" min="0" max="100" [value]="brightnessValue" (input)="updateBrightness($event)">
        <p>Current brightness: {{brightnessValue}}%</p>
    </div>

    <div class = "behavior-slider">
        <h2>Behavior Frequency</h2> <!--volume section-->
        <input type="range" min="10" max="60" [value]="volumeValue" (input)="updateVolume($event)">
        <p>Blossom will move every {{volumeValue}} seconds</p>
    </div>
    
    <div class="audio-preferences"> <!--audio preferences checkboxes-->
        <h2>Robot Sound Types</h2>
        <div class="checkbox-group">
            <label class="checkbox-container">
                <input type="checkbox" 
                       [checked]="audioPreferences.animalSounds"
                       (change)="updateAudioPreference('animalSounds')">
                <span class="checkbox-label">Animal Sounds</span>
            </label>

            <label class="checkbox-container">
                <input type="checkbox" 
                       [checked]="audioPreferences.digitalSounds"
                       (change)="updateAudioPreference('digitalSounds')">
                <span class="checkbox-label">Digital Sounds</span>
            </label>

            <label class="checkbox-container">
                <input type="checkbox" 
                       [checked]="audioPreferences.hybridSounds"
                       (change)="updateAudioPreference('hybridSounds')">
                <span class="checkbox-label">Hybrid Sounds</span>
            </label>

            <label class="checkbox-container">
                <input type="checkbox" 
                       [checked]="audioPreferences.vocalizations"
                       (change)="updateAudioPreference('vocalizations')">
                <span class="checkbox-label">Vocals</span>
            </label>
        </div>
    </div>

    <div class = "color-preferences"> <!--color preferences checkboxes-->
        <h2>LED Color Preferences</h2>
        <div class="color-checkbox-group">
            <label class="color-checkbox-container">
                <input type="checkbox"
                        [checked] = "colorPreferences.red"
                        (change)="updateColorPreference('red')">
                <span class="color-checkbox red"></span>
                <span class = "color-label">Red</span>
            </label>

            <label class="color-checkbox-container">
                <input type="checkbox"
                        [checked] = "colorPreferences.rose"
                        (change)="updateColorPreference('rose')">
                <span class="color-checkbox rose"></span>
                <span class = "color-label">Rose</span>
            </label>

            <label class="color-checkbox-container">
                <input type="checkbox"
                        [checked] = "colorPreferences.magenta"
                        (change)="updateColorPreference('magenta')">
                <span class="color-checkbox magenta"></span>
                <span class = "color-label">Mgta</span>
            </label>

            <label class="color-checkbox-container">
                <input type="checkbox" 
                       [checked]="colorPreferences.purple"
                       (change)="updateColorPreference('purple')">
                <span class="color-checkbox purple"></span>
                <span class="color-label">Purple</span>
            </label>

            <label class="color-checkbox-container">
                <input type="checkbox" 
                       [checked]="colorPreferences.blue"
                       (change)="updateColorPreference('blue')">
                <span class="color-checkbox blue"></span>
                <span class="color-label">Blue</span>
            </label>

            <label class="color-checkbox-container">
                <input type="checkbox" 
                       [checked]="colorPreferences.cyan"
                       (change)="updateColorPreference('cyan')">
                <span class="color-checkbox cyan"></span>
                <span class="color-label">Cyan</span>
            </label>

            <label class="color-checkbox-container">
                <input type="checkbox" 
                       [checked]="colorPreferences.green"
                       (change)="updateColorPreference('green')">
                <span class="color-checkbox green"></span>
                <span class="color-label">Green</span>
            </label>

            <label class = "color-checkbox-container">
                <input type="checkbox"
                        [checked] = "colorPreferences.chartreuse"
                        (change)="updateColorPreference('chartreuse')">
                <span class="color-checkbox chartreuse"></span>
                <span class = "color-label">Lime</span>
            </label>
    
            <label class="color-checkbox-container">
                <input type="checkbox" 
                       [checked]="colorPreferences.yellow"
                       (change)="updateColorPreference('yellow')">
                <span class="color-checkbox yellow"></span>
                <span class="color-label">Yellow</span>
            </label>

            <label class="color-checkbox-container">
                <input type="checkbox" 
                       [checked]="colorPreferences.orange"
                       (change)="updateColorPreference('orange')">
                <span class="color-checkbox orange"></span>
                <span class="color-label">Orange</span>
            </label>
    
        </div>
    </div>

    <!-- Save Changes Button -->
    <button class="save-button" (click)="onSaveChanges()">Save Changes</button>

</div>

