<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tricks | Blossom</title>
  </head>

  <body>
    <div id="trickspage">
      <div id="menu">
        <div class="button" (click)="performTrick('trick_1')">
          <h2>Trick 1</h2>
        </div>

        <div class="button" (click)="performTrick('trick_2')">
          <h2>Trick 2</h2>
        </div>

        <div class="button" (click)="performTrick('trick_3')">
          <h2>Trick 3</h2>
        </div>

        <div class="button" (click)="performTrick('trick_4')">
          <h2>Trick 4</h2>
        </div>

        <div class="button" (click)="performTrick('trick_5')">
          <h2>Trick 5</h2>
        </div>

        <div class="button" (click)="performTrick('trick_6')">
          <h2>Trick 6</h2>
        </div>
      </div>
    </div>
  </body>
</html>
