body 
{ 
    font-family: Helvetica, sans-serif; 
    margin: 0; 
    padding: 20px; 
    background-color: #edefcd;

    /*to center the menu / boxes on the page*/
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#homepage
{
    width: 100%;
    max-width: 600px;
    margin: 0 auto; 
}

#menu 
{ 
    display: flex;
    padding: 10px;
}

.button
{ 
    background-color: #3b3434;
    padding: 20px;
    margin: 5px;
    border-radius: 35px;
    text-align: center;
    width: 50%;
    height: 50%;

    /*adding the following properties for centering:*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.button a
{
    text-decoration: none; /*no underline on routing buttons*/
}

.button h2
{
    margin: 0;
    color: white;
    font-size: 1.5em;
}

.button:hover 
{
    background-color: #745959;
}