.sidebar
{
    position: fixed;
    top: 42%;
    right: 0;
    height: relative;
    width: relative;
    background-color: rgba(255, 255, 255, 0.3); /*translucent*/
    backdrop-filter: blur(8px);
    display: flex;
    flex-direction: column;
    z-index: 1000;
    padding: 2%;
}

.nav-links
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.button a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    text-decoration: none;
    color: black;
 }

mat-icon
{
    color: rgb(43, 22, 22);
    margin-right: 10px;
}