<!DOCTYPE html>
<div class="sidebar">
    <div class="nav-links">
      <a routerLink="/landing" routerLinkActive="active">
        <span class="icon">🏠</span>
        <span class="text">Home</span>
      </a>
      
      <a routerLink="/study" routerLinkActive="active">
        <span class="icon">📚</span>
        <span class="text">Study</span>
      </a>
  
      <a routerLink="/settings" routerLinkActive="active">
        <span class="icon">⚙️</span>
        <span class="text">Settings</span>
      </a>
  
      <a routerLink="/extra" routerLinkActive="active">
        <span class="icon">➕</span>
        <span class="text">Extra</span>
      </a>
    </div>
  </div>
  </html>