.navbar 
{
    position: fixed;
    /*top: 40px;
    left: 50px;*/
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    z-index: 1000;
}

.nav-button 
{
    background: rgba(130, 114, 114, 0.3);
    backdrop-filter: blur(8px);
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.nav-button:hover 
{
    background: rgba(241, 236, 236, 0.5);
}

button:disabled 
{
    opacity: 0.5;
    cursor: not-allowed;
}