.studypage
{
    width: 100vw;
    height: 100vh;
    background-color: #b2daef;
    /*display: grid;*/
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
}

.main-content 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.timer-display
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 110px;
}

.time 
{
    /*display: flex;*/
    flex-direction: row;
    align-items: center;
    font-size: clamp(55px, 5vw, 65px); /* responsive font size */
}

#menu 
{ 
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}

.button
{ 
    background-color: #927B7B;
    padding: 20px;
    margin: 5px;
    border-radius: 35px;
    text-align: center;
    width: clamp(120px, 15vw, 150px);
    height: clamp(80px, 10vw, 100px);

    /*adding the following properties for centering:*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.button h2
{
    margin: 0;
    color: white;
    font-size: 38px;
}

.settings-panel {
    background: rgba(255, 255, 255, 0.95);
    border-radius: 10px;
    padding: 10px;
    height: fit-content;
    max-height: 90vh;
    width: 95vw;
    overflow-y: auto;
    position: fixed; /*fixed the position relative to the viewport*/
    top: 48%; /*position from top*/
    left: 50%; /*position from left*/
    transform: translate(-50%, -50%);
    overflow-x: hidden;
}

/* Make scrollbar more visible */
.settings-panel::-webkit-scrollbar {
   /*width: 8px;*/
   display: none; /*override to prevent showing up*/
}

.settings-panel::-webkit-scrollbar-track {
   background: #f1f1f1;
}

.settings-panel::-webkit-scrollbar-thumb {
   background: #888;
   border-radius: 4px;
}

/* responsive adjustments */
@media (max-width: 768px) {
    .studypage {
        grid-template-columns: 1fr;
    }
}