<div class="studypage">
  <div class="main-content">
      <!-- Hide timer display and buttons when loading -->
          <div class="timer-display">
              <h2>Study Timer</h2>
              <div class="time">{{display}}</div>
          </div>

          <div id="menu">
              <div class="button" (click)="startTimer()" [class.active]="isRunning">
                  <h2>Start</h2>
              </div>
              
              <div class="button" (click)="pauseTimer()" [class.disabled]="!isRunning">
                  <h2>Pause</h2>
              </div>
              
              <div class="button" (click)="endTimer()">
                  <h2>Reset</h2>
              </div>
          </div>

  <!-- Loading message OVERLAY -->
  <div *ngIf="isLoading" class="loading-overlay">
    <h2>Blossom is loading...</h2>
  </div>
</div>

  <div class="settings-panel" *ngIf="showSettings">
      <app-settings></app-settings>
  </div>
</div>


