<div id="studypage">
      <div class="timer-display">
        <h2>Study Timer</h2>
        <div class="time">{{display}}</div>
      </div>
  
      <div id="menu">
          <div class="button" (click)="startTimer()" [class.active]="isRunning">
            <h2>Start</h2>
          </div>
      
          <div class="button" (click)="pauseTimer()" [class.disabled]="!isRunning">
            <h2>Pause</h2>
          </div>
      
          <div class="button" (click)="endTimer()">
            <h2>Reset</h2>
          </div>
          <!--/01_21_25: CHANGE END BUTTON TO RESET BUTTON-->
    </div>
</div>


